.gallery__favorites {
    width: 220px;
    height: 38px;
    border: 1px #5221E6 solid;
    border-radius: 10px;
    padding: 0;
    margin: 7px 0 0;
    font-family:'Montserrat';
    background-color: #fff;
    color: #5221E6;
}

.gallary__favorites:active {
    transform: scale(0.99);
}