.seller-chat__messages {
    display: flex;
    overflow: scroll;
    min-height: 335px;
    background-color: #202825;
    flex-direction: column-reverse;
    margin: 0 9px 0 9px;
}

.seller-chat__messages::-webkit-scrollbar {
    width: 5px;
    height: 100%;
}

.seller-chat__messages::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 3px;
}