.seller-chat_opened {
    height: 460px;
    width: 610px;
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 38.95%;
    display: flex;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.93;
    border-radius: 15px;
}