.shopping-cart__plus {
    border: 0;
    padding: 0;
    width: 30px;
    border-right: 1px solid;
    font-family: 'Montserrat';
    font-size: 25px;
}

.shopping-cart__plus:active {
    transform: scale(0.97);
}