.brands {
    min-height: 164px;
    display: flex;
    align-items: center;
    background-color: #000;
}

@media screen and (max-width: 755px) {
    .brands {
        height: 450px;
    }
  }

  @media screen and (max-width: 640px) {
    .brands {
        height: 570px;
    }
  }