.sneakers__subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 15px 0 0 39px;
    font-family: 'Montserrat';
    font-size: 31px;
    font-weight: 400;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .sneakers__subtitle {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 15px 0 0;
        font-size: 19px;
    }
  }