.shopping-cart__cell {
    padding: 0;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 7px;
}

.shopping-cart__cell:active {
    transform: scale(0.99);
}

@media screen and (max-width: 525px) {
    .shopping-cart__cell {
        flex-direction: column;
        justify-content: center;
    }
  }